@import "_variables";

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "_bootswatch";

.col-md-10,
.col-md-6 {
    padding: 10px;
}

h1 {
    margin-top: 0;
}

section div.inner-container {
    background: #EEE;
    padding: 15px;
    border: 1px solid lightgray;
    border-radius: 2px;
}

section table {
    background: #f1f1f1;
}

.edit-icon {
    color: gray;
}
